<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'/>
		<meta name="viewport" content="width=device-width"/>
		<!--script src="node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"></script-->
		<link rel="manifest" href="./manifest.json">

			
#newRFIcode(temp/header.html)			
			<title>EMIC DashBoard</title>
		<link rel='stylesheet' href='CSS/dashboard.css'/>
	</head>
	<body>
	
#newRFIcode(temp/index.html)	

		<script type="text/javascript" src="JS/emic.js"> </script>
	</body>
</html>
