<array><item><ColectionName /><BaseDirectory /><Path /><Archivo /><driverName>Operators</driverName><TexEmergent /><ConfigTags /><Modulos><item><Nombre>suma</Nombre><NombreToolBox>suma</NombreToolBox><Tipo>SistemFnc</Tipo><title>suma</title><InnerHTML>&lt;div class='lineaDeCodigo' location='_util/Operators/suma.js' definir='use_suma_function' originalclass='funcion' originalid='suma' draggable='true' ondragstart='drag_linea(event)'&gt;(&lt;div type='' class='parametroDiv'&gt;&lt;/div&gt; + &lt;div type='' class='parametroDiv'&gt;&lt;/div&gt;)&lt;/div&gt;</InnerHTML><driverName>Operators</driverName><location>C:/Users/RFI/Dropbox/___RFI Project/Firm/Developments/mariano.hunkeler@rfindustrial.com/DEV/Dashboard/_util/Operators</location></item></Modulos><ModulosN><item>suma</item></ModulosN></item></array>