<array><item><ColectionName /><BaseDirectory /><Path /><Archivo /><driverName>Comparators</driverName><TexEmergent /><ConfigTags /><Modulos><item><Nombre>compIgual</Nombre><NombreToolBox>compIgual</NombreToolBox><Tipo>SistemFnc</Tipo><title>Comparación estricta. Si valor1 y valor2 son iguales devuelve 1, de lo contrario devuelve 0.</title><InnerHTML>&lt;div class='lineaDeCodigo' location='_util/Operators/compIgual.js' definir='use_compIgual_function' originalclass='funcion' originalid='compIgual' draggable='true' ondragstart='drag_linea(event)'&gt;(&lt;div type='' class='parametroDiv'&gt;&lt;/div&gt; =? &lt;div type='' class='parametroDiv'&gt;&lt;/div&gt;)&lt;/div&gt;</InnerHTML><driverName>Comparators</driverName><location>C:/Users/RFI/Dropbox/___RFI Project/Firm/Developments/ing.ramiro.a.l@gmail.com/DEV/Dashboard/_util/Comparators</location></item></Modulos><ModulosN><item>compIgual</item></ModulosN></item></array>